{% extends '%s/base.html' % __theme_path__ %}

{% block meta %}
    <meta property="x-nav" content="/{{ page._id }}" />
{% endblock %}

{% block title %}{{ page.name|e }}{% endblock %}

{% block main %}

<div class="x-page">
    <div class="x-page-title">
        <h4>{{ page.name|e }}</h4>
    </div>
    <div class="x-page-content">
        <p>{{ page.content }}</p>
    </div>
</div>

{% endblock %}

{% block sidebar %}
                    <div class="x-sidebar-section">
                        <h4>About</h4>
                        <ol class="x-hot-ol">

                        </ol>
                    </div>
<!--
                    <div class="v-sidebar-section">
                        <h4>热门标签</h4>
                        <ul class="v-tags">
                            <li><a href="#">3D打印</a></li>
                            <li><a href="#">H264</a></li>
                            <li><a href="#">三星</a></li>
                            <li><a href="#">Brightcove</a></li>
                            <li><a href="#">迅雷</a></li>
                            <li><a href="#">小米盒子</a></li>
                            <li><a href="#">优酷</a></li>
                            <li><a href="#">爱奇艺</a></li>
                            <li><a href="#">YouTube</a></li>
                            <li><a href="#">在线教育</a></li>
                            <li><a href="#">手机QQ</a></li>
                            <li><a href="#">iPhone5</a></li>
                            <li><a href="#">Vine</a></li>
                            <li><a href="#">OTT</a></li>
                            <li><a href="#">阿里云</a></li>
                        </ul>
                    </div>
                    <div class="v-sidebar-section">
                        <h4>最新评论</h4>
                    </div>
-->
{% endblock %}
