{% extends '%s/base.html' % __theme_path__ %}

{% block meta %}
    <meta property="x-nav" content="/{{ page._id }}" />
{% endblock %}

{% block title %}{{ page.name|e }}{% endblock %}

{% block beforehead %}
    <script>
    $(function() {
        $('.x-page-content a[href^="http://"]').attr('target', '_blank');
        $('.x-page-content a[href^="https://"]').attr('target', '_blank');
    });
    </script>
{% endblock %}

{% block container %}

<div class="x-page">
    <div class="x-page-title">
        <h4>{{ page.name|e }}</h4>
    </div>
    <div class="x-page-content">
        {{ page.content }}
    </div>
</div>

{% endblock %}
