{% extends 'templates/manage.html' %}

{% block title %}
All Articles
{% endblock %}

{% block head %}
<script>

$(function() {
    $('a.x-btn-delete').each(function() {
        $(this).click(function() {
            var $btn = $(this);
            var prompt = $btn.attr('prompt');
            var rel = $btn.attr('rel');

            show_confirm('Deletion Confirmation', 'Are you sure you want to delete "' + prompt + '"?', function(btn, fn_hide) {
                $.postJSON('/api/articles/' + rel + '/delete', {}, function(result) {
                    refresh();
                }, function(err) {
                    fn_hide();
                    show_error(err.message || err.error, err.data);
                });
            });
        });
    });
});

</script>
{% endblock %}

{% block main %}
<div class="span12">
    <ul class="breadcrumb">
        <li class="active">All Articles ({{ page.item_count }})</li>
    </ul>
</div>

<div class="span12">
    <div class="btn-toolbar" style="text-align:right;">
        <a href="categories" class="btn" style="float:left"><i class="icon-list"></i> Categories</a>
        <a href="javascript:refresh()" class="btn btn-info"><i class="icon-refresh icon-white"></i> Refresh</a>
        <a href="create_article" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add New Article</a>
    </div>
</div>

<div class="span12">
    <div class="alert alert-error hide"></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="20%"></th>
                <th width="35%">Name</th>
                <th width="15%">Author/Category</th>
                <th width="15%">Publish Date</th>
                <th width="15%">Creation Date</th>
            </tr>
        </thead>
        <tbody>
{% for a in articles %}
            <tr>
                <td rowspan="2">
                    <img src="/files/attachments/{{ a.cover_id }}/s" />
                </td>
                <td>
                    {% if a.draft %}
                        <a data-toggle="tooltip" title="Draft" href="javascript:void(0)"><i class="icon-lock"></i></a>
                    {% endif %}
                    <b><a href="/article/{{ a._id }}" target="_blank">{{ a.name|e }}</a></b>
                    {% if a.tags %}
                        {% for tag in a.tags.split(',') %} <i class="icon-tag"></i> {{ tag }} {% endfor %}
                    {% endif %}
                </td>
                <td>{{ a.user_name|e }}</td>
                <td>{% if not a.draft %}{{ a.publish_time|dt }}{% endif %}</td>
                <td>{{ a.creation_time|dt }}</td>
            </tr>
            <tr>
                <td>{{ a.summary|e }}</td>
                <td>
                    <i class="icon-list"></i> {{ fn_get_category_name(a.category_id) }}
                </td>
                <td></td>
                <td>
                    <a data-toggle="tooltip" title="Edit Article" href="edit_article?_id={{ a._id }}" class="x-btn"><i class="icon-edit"></i></a>
                    <a data-toggle="tooltip" title="Delete Article" rel="{{ a._id }}" href="javascript:void(0)" class="x-btn x-btn-delete" prompt="{{ a.name|e }}"><i class="icon-trash"></i></a>
        {% if a.draft %}
                        <a data-toggle="tooltip" title="Publish Article" href="javascript:publish(this, true)" rel="{{ a.id }}" class="x-btn"><i class="icon-eye-open"></i></a>
        {% else %}
                        <a data-toggle="tooltip" title="Unpublish" href="javascript:publish(this, false)" rel="{{ a.id }}" class="x-btn"><i class="icon-ban-circle"></i></a>
        {% endif %}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    {{ pagination(page, '?page=') }}
</div>

{% endblock%}
