{% extends '%s/base.html' % __theme_path__ %}

{% block meta %}
    <meta property="x-nav" content="/wiki/{{ wiki._id }}" />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{ __request__.host }}/wiki/{{ wiki._id }}{% if page %}/{{ page._id }}{% endif %}" />
    <meta property="og:title" content="{{ wiki.name|e }}" />
    <meta property="og:description" content="{{ wiki.name|e }}" />
{% endblock %}

{% block title %}{{ wiki.name|e }}{% endblock %}

{% block beforehead %}
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <script>
$(function() {
    var prev = null;
    var next = null;
    //{% if page %}
    var sel = $('#{{ page._id }}');
    sel.prepend('<i class="icon-chevron-right" style="margin:0 2px 0 -16px;"></i>');
    prev = find_prev(sel);
    next = find_next(sel);
    //{% else %}
    $('#{{ wiki._id }}').addClass('x-active').addClass('x-active-wiki');
    next = $('.x-wiki-tree').find('li:first a:first');
    //{% endif %}
    $('.x-wiki-content a[href^="http://"]').attr('target', '_blank');
    $('.x-wiki-content a[href^="https://"]').attr('target', '_blank');
    // show prev & next:
    if (prev) {
        $('.x-wiki-prev').html('<i class="icon-chevron-left"></i> 上一篇：<a href="' + prev.attr('href') + '">' + prev.text() + '</a>');
    }
    if (next) {
        $('.x-wiki-next').html('下一篇：<a href="' + next.attr('href') + '">' + next.text() + '</a> <i class="icon-chevron-right"></i>');
    }
});
    </script>
{% endblock %}

{% macro wiki_tree(nodes) %}
    <ul>
    {% for n in nodes %}
        <li id="{{ n._id }}">
            <a href="/wiki/{{ wiki._id }}/{{ n._id }}">{{ n.name|e }}</a>
            {% if n.children %}
                {{ wiki_tree(n.children) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% block container %}
        <div class="row">
            <div class="span3">
                <div class="x-sidebar-left">
                    <!-- block sidebar -->
                    <div class="x-wiki-title">
                        <h4><a id="{{ wiki._id }}" href="/wiki/{{ wiki._id }}">{{ wiki.name|e }}</a></h4>
                    </div>
                    <div class="x-wiki-tree">{{ wiki_tree(tree) }}</div>
                    <div class="x-sidebar-section">
                        <h4>关于作者</h4>
                        <iframe width="215" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=215&height=400&fansRow=3&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=0&isFans=1&uid=1658384301&verifier=078cedea&dpc=1"></iframe>
                    </div>
                    <!-- // block sidebar -->
                </div>
            </div>
            <div class="span9">
                <div id="main">
                    <!-- block main -->
                    <h4>{{ name|e }}</h4>
                    <div class="x-wiki-info"><span>{% if page %}{{ page.reads }}{% else %}{{ wiki.reads }}{% endif %}次阅读</span></div>
                    <hr style="border-top-color:#ccc" />
                    <div class="x-wiki-content">{{ content }}</div>

                    <hr style="border-top-color:#ccc" />
                    <div class="row">
                        <div class="x-wiki-prev"></div>
                        <div class="x-wiki-next"></div>
                    </div>
                    <hr style="border-top-color:#ccc" />

                    <h4>喜欢这篇文章？</h4>
                    <div style="height:66px">
                        <wb:like appkey="2f89Ml"></wb:like>
                    </div>

                    <h4>分享给朋友</h4>
                    <div style="height:66px">
                        <wb:share-button appkey="2f89Ml" addition="full" type="button" default_text="{{ wiki.name|e }}：{% if page %}{{ name|e }}{% else %}{{ wiki.description|e }}{% endif %}" ralateUid="1658384301" pic="http://{{ __request__.host }}/files/attachments/{{ wiki.cover_id }}/0" picture_search="false"></wb:share-button>
                    </div>

                    <h4>评论……</h4>

{% if page %}
{% set comment_url = '/api/wikis/pages/%s/comments/create' % page._id %}
{% else %}
{% set comment_url = '/api/wikis/%s/comments/create' % wiki._id %}
{% endif %}

{{ make_comments(comment_url, comments) }}

                    <!-- // block main -->
                </div>
            </div>
        </div>
{% endblock %}
