{% extends '%s/base.html' % __theme_path__ %}

{% block meta %}
    <meta property="x-nav" content="/" />
{% endblock %}

{% block title %}首页{% endblock %}

{% block main %}
    <div><h4>最新文章</h4></div>
{% for a in articles %}
    <div class="x-article">
        <div class="x-article-title">
            <h4><a href="/article/{{ a._id }}">{{ a.name|e }}</a></h4>
        </div>
        <div class="x-article-cover-small">
            <a href="/article/{{ a._id }}"><img src="/files/attachments/{{ a.cover_id }}/s" /></a>
        </div>
        <div class="x-article-right">
            <div class="x-article-info">
                <a href="/user/{{ a.user_id }}">{{ a.user_name|e }}</a> • <a href="/category/{{ a.category_id }}">{{ fn_get_category_name(a.category_id)|e }}</a> • <span class="x-smartdate" date="{{ a.publish_time }}">...</span> • {{ a.reads }}次阅读
            </div>
            <div class="x-article-summary">
                <p>{{ a.summary }}</p>
                <p><a href="/article/{{ a._id }}" class="x-readmore">继续阅读 »</a></p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="x-sidebar-section">
        <div>
            <h4><a href="/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">史上最浅显易懂的Git教程</a></h4>
            <a href="/wiki/0013739516305929606dd18361248578c67b8067c8c017b000"><img src="http://www.liaoxuefeng.com/files/attachments/001385348516246a18bd54b498f4c74b694624d67f02fa9000/1" style="width:100%" /></a>
        </div>
    </div>
{% endblock %}
